<div class="container" style="border: 2px solid black; " >
    <div class="row">
        <div class="col-md-12">

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit sapiente corrupti explicabo aliquid officiis molestias sit qui aliquam voluptates dignissimos dolorem facere molestiae architecto consequuntur vel excepturi, quaerat cumque necessitatibus?
            </p>
        </div>
        <button (click)="close()" class="btn btn-danger">Close</button>
    </div>
</div>



<!-- <button (click)="getData()">Send Data to Parent</button> -->